// HOMPAGE VIDEO    

.home-video {
  position: relative;
}

#video_home {
  width: 100%;
}

.volume-logo {
  height: 30px;
  width: 30px;
  opacity: 0.3;
  position: absolute;
  bottom: 10px;
  left: 15px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.volume-toggle {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

// PRODUCT CARDS

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.product-card {
  margin: 10px;
  width: 250px;
  outline: 5px solid transparent;
  transition: all 0.3s ease;
  position: relative;
  background-color: white;
  &:hover {
    .hover-image {
      opacity: 1;
    }
    outline: 5px solid $primary-grey;
    box-shadow: 0 0 30px $primary-grey
  }
}

.shirt-fabrics-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.shirt-fabrics {
  height: 25px;
  flex: 0 0 calc(100% / 5 - 2 * 5px);
  margin: 5px;
  overflow: hidden;
}

.product-card-container {
  position: relative;
}

.product-card-image {
  width: 100%;
  transition: all 3s ease;
}

.hover-image {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.product-card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}

.product-title {
  color: $primary-grey;
  letter-spacing: 2px;
  padding: 0 10px;
  margin: 0;
}

.product-thumbnail {
  width: 100%;
}

.product-price {
  padding: 0 10px;
  margin: 0;
  margin-top: 10px;
  letter-spacing: 2px;
}

.product-material {
  padding: 0 10px;
  margin: 0;
  color: #BBBBBB;
}

// SHOW PAGE FABRICS CARDS:

.show-page-fabric-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.show-page-fabrics {
  color: $primary-grey;
  padding: 5px;
  margin: 5px;
  flex: 0 0 calc(100% / 4 - 10px);
  height: 125px;
}

.fabric-style p {
  margin: 0;
}

.fabrics-active {
  background: $lighter-grey !important;
  color: white !important;
  box-shadow: 0 10px 40px 0 $primary-grey;
}

// CARD LINKS CARDS

.card-links-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

.card-link {
  margin: 10px;
  width: 425px;
  outline: 4px solid transparent;
  transition: all 0.3s ease;
  &:hover {
    outline: 4px solid $primary-grey;
    box-shadow: 0 0 30px $primary-grey;
  }
}

.card-link-image {
  width: 100%;
}

.card-link-text {
  background: white;
  p {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    color: $primary-grey;
    padding: 10px 0;
    margin: 0;
  }
}

// BUTTONS

.primary-button {
  background: $primary-grey;
  color: white;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    background: #717171;
    text-decoration: none;
    color: white;
  }
}

.secondary-button {
  color: $primary-grey;
  border: 2px solid $primary-grey;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    background: $primary-grey;
    text-decoration: none;
    color: white;
  }
}

.shop-button {
  box-shadow: 0 10px 40px 0 $primary-grey;
  background: $primary-grey;
  color: white;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

// CAROUSEL

.carousel-container {
  width: 53vw;
  position: relative;
  display: flex;
  justify-content: center;
}


.carousel-image {
  max-width: 100%;
  max-height: 90vh;
}

.carousel {
  width: 40vw;
}

.carousel-item {
}

.carousel-control-prev, .carousel-control-next {
  height: 60px;
  width: 60px;
  top: calc(50% - 30px);
  opacity: 1;
  &:hover {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }
}

// LINE BREAKS

.product-line-break {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.line-break-info {
  color: white;
  background: $lighter-grey;
  padding: 5px 20px;
  font-size: 14px;
}

.line-break-line {
    top: 50%;
    display: inline-block;
    flex: 1;
    width: 100%;
    height: 2px;
    margin: 0 10px;
    background-color: $lighter-grey;
}


