.product-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.product-card {
  margin: 10px;
  width: 250px;
  outline: 5px solid transparent;
  transition: all 0.3s ease;
  &:hover {
    outline: 5px solid $primary-grey;
    box-shadow: 0 0 30px $primary-grey
  }
}

.shirt-fabrics-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.shirt-fabrics {
  height: 25px;
  flex: 0 0 calc(100% / 5 - 2 * 5px);
  margin: 5px;
  background: purple;
  overflow: hidden;
}

.product-card-image {
  width: 100%;
  transition: all 3s ease;

}

.product-card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card {
}

.product-title {
  color: $primary-grey;
  letter-spacing: 2px;
  padding: 0 10px;
  margin: 0;
}

.product-thumbnail {
  width: 100%;
}

.product-price {
  padding: 0 10px;
  margin: 0;
  margin-top: 10px;
}

.product-material {
  padding: 0 10px;
  margin: 0;
  color: #BBBBBB;
}

// CARD LINKS CARDS

.card-links-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

.card-link {
  margin: 10px;
  width: 425px;
  outline: 4px solid transparent;
  transition: all 0.3s ease;
  &:hover {
    outline: 4px solid $primary-grey;
    box-shadow: 0 0 30px $primary-grey
  }
}

.card-link-image {
  width: 100%;
}

.card-link-text {
  background: white;
  p {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    color: $primary-grey;
    padding: 10px 0;
    margin: 0;
  }
}

// PRIMARY BUTTON

.primary-button {
  background: $primary-grey;
  color: white;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    background: #717171;
    text-decoration: none;
    color: white;

  }
}
// SECONDARY BUTTON

.secondary-button {
  color: $primary-grey;
  border: 2px solid $primary-grey;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    background: $primary-grey;
    text-decoration: none;
    color: white;
  }
}


