// BUTTONS

.primary-button {
  background: $primary-grey;
  color: white;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    background: #717171;
    text-decoration: none;
    color: white;
  }
}

.secondary-button {
  color: $primary-grey;
  border: 2px solid $primary-grey;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    background: $primary-grey;
    text-decoration: none;
    color: white;
  }
}

.shop-button {
  box-shadow: 0 10px 40px 0 $primary-grey;
  background: $primary-grey;
  color: white;
  padding: 15px 40px;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: white;
  }
  img {
    margin-right: 15px;
  }
}

.button-white {
  color: white !important;
  border-color: white !important;
  &:hover {
    background: white !important;
    color: $darker-grey !important;
  }
}

