.navbar {
  padding: 0 1rem;
  height: 82px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
  transition: all 0.2s ease;
  &:hover {
    border-bottom: 5px solid $darker-grey;
  }
}

.navbar-link-active {
  background: $darker-grey;
  color: white !important;
  font-weight: bold;
  margin: 0 !important;
  padding: 23px !important;
}

.navbar-collapse, .navbar-nav {
  height: 100%;
}


.basket-icon {
  position: relative;
}

.notification-circle {
  position: absolute;
  background: $primary-grey;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  color: white;
}
