// SHOW PAGE FABRICS CARDS:

.show-page-fabric-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.show-page-fabrics {
  color: $primary-grey;
  padding: 5px;
  margin: 5px;
  flex: 0 0 calc(100% / 4 - 10px);
  height: 125px;
}

.fabric-style p {
  margin: 0;
}

.fabrics-active {
  background: $lighter-grey !important;
  color: white !important;
  box-shadow: 0 10px 40px 0 $primary-grey;
}
