// SHOW PAGE FABRICS CARDS:

.show-page-fabric-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.show-page-fabrics {
  color: $primary-grey;
  padding: 5px;
  margin: 5px;
  height: 125px;
  width: 125px;
}

.fabric-style p {
  margin: 0;
}

.fabrics-active {
  background: $lighter-grey !important;
  color: white !important;
  box-shadow: 0 10px 40px 0 $primary-grey;
}
