.shirt-container {
  display: flex;
  margin: 0 12%;
}

// .shirt-carousel {
// }

.shirt-details-container {
  padding-top: 50px;
}

.shirt-show-title {
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.show-page-product-price {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
}

.buy-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
